.home_screen_maindiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding: 0 5.37rem;
}

.home_screen_1div {
    width: 100%;
}

.Home_screen_title {
    font-family: Outfit;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 3rem;

    span {
        color: var(--secondary-accent1);
    }
}

.InnerContent {
    font-family: Outfit;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 2rem;
    border-left: 1px solid black;

    .secondline {
        font-size: 1.75rem;
    }
}

.home_screen_2div {
    img {
        width: 36.8125rem;
        height: 31.125rem;
    }
}

.home_screen_2maindiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.taglineDiv {
    width: 36.5625rem;
    height: 2.4375rem;
    flex-shrink: 0;
    color: #6E00FF;
    font-family: Outfit;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.buttonContainer {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HomeLoginButton {
    padding: 2rem 2.5rem !important;
    border-radius: 0.5rem !important;
    background: var(--secondary-accent1) !important;
    color: var(--white) !important;
    font-family: Outfit !important;
    font-size: 1.125rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.HomeLoginButton:hover {
    background-color: #dd5329 !important;
}

.HomeSignUpButton {
    padding: 2rem 2.5rem !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.625rem !important;
    border-radius: 0.5rem !important;
    border: 1px solid #000;
    font-family: Outfit !important;
    font-size: 1.125rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.ultimateHr {
    margin-top: 2.84rem;
    height: 0.0625rem;
    color: #000;
    box-shadow: 2px 0px rgba(0, 0, 0, 0.25);
}

.TrustedIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}

.trustedPara {
    color: #000;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.IconsDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7.5625rem;
}

.icons {
    width: 3.3125rem;
    height: 3.25rem;
}

.FeaturesMainDiv {
    margin: 10rem 5.88rem;
}

.FeaturesDiv1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ContentDiv {
    width: 44.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    h1 {
        color: #F24E1E;

        font-family: Outfit;
        font-size: 4rem;
    }

    h4 {
        color: #000;
        font-family: Outfit;
        font-size: 2rem;
    }

    p {
        color: #8C7C7C;
        font-family: Outfit;
        font-size: 1.125rem;
    }
}

.ImageDiv {

    img {
        width: 23.8125rem;
        height: 21.5rem;
    }
}

.FeaturesDiv2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}