@import url("./variable.css");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--primary) !important;
}

/* HEADER CSS */
.HeaderCompleteDiv {
  display: flex;
  width: auto;
  padding: 0.9375rem 0rem 1rem 0rem;
  justify-content: center;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.headerImg {
  width: 4rem;
  margin: 0 1rem;
}

.HeaderTitle {
  color: var(--secondary-accent1);
  font-family: Outfit;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.mychats_createGroupDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 1rem;

  h1 {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
  }
}

.messages {
  padding: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.messages::-webkit-scrollbar {
  display: none;
}